asyncio==3.4.3
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keyboard==0.13.5
MarkupSafe==2.1.5
neuropy3==1.0.4
npm==0.1.1
numpy==1.23.3
optional-django==0.1.0
psutil==6.0.0
pybluez2==0.46
requests==2.32.3
scikit-learn==1.5.2
scipy==1.9.1
threadpoolctl==3.5.0
urllib3==2.2.3
uv==0.4.16
websockets==13.1
Werkzeug==3.0.4
xgboost==2.1.1
